.alerta-contenido {
  .titulo {
    h3 {
      font-weight: bold;
      margin: 0;
      color: var(--ion-color-secondary);
    }

    h1 {
      margin: 0;
      color: white;
      font-weight: bold;
    }
  }

  .alerta-preview {
    img {
      width: calc(100% - 5px);
      border-color: var(--ion-color-primary);
      border-style: solid;
      border-width: 5px;
      border-radius: 5px;
    }
  }

  .historial-compras {
    h3 {
      font-weight: bold;
      color: var(--ion-color-secondary);
    }

    .compras-preview {
      position: relative;

      .img-text {
        position: absolute;
        top: 5px;
        left: 5px;
        background: rgba(0, 0, 0, 0.6);
        padding: 5px;
      }
      img {
        border-radius: 5px;
      }
    }
  }
}

.viewer-backdrop {
  /* Your custom background color here. */
  background-color: rgba(0, 0, 0, 0.5);
}
